<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        #app img{
            width: 100px;
            height: 100px;
            float: left;
        }
    </style>
</head>
<body>
    <div id="app">
        <button v-on:click="find()">获取图片</button>
        <table v-for="(x, y) in msg">
            <thead>
                <th>{{x.type}}</th>
            </thead>
            <tbody>
                <th v-for="(z, y) in x.img">
                    <img v-bind:src="z.url"/>
                </th>
            </tbody>
        </table>
    </div>
    <script src="../static/lib/vue.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            data:{
                msg:[
                    {type:'玫瑰',img:[]},
                    {type:'向日葵',img:[]},
                    {type:'水仙花',img:[]}
                ],
            },
            methods: {
                find(){
                    var url = new Array({url:'./img/0/image_0001.jpg'},{url:'./img/0/image_0001.jpg'});
                    for(let i = 0;i< this.msg.length;i++){
                        this.msg[i].img=url;
                    }
                    
                }  
            },
        })
    </script>
</body>
</html>